<!-- <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.image" [alt]="product.name" class="product-image">
      <div class="product-info">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-reference">Referencia: {{ product.reference }}</p>
        <p class="product-price">$ {{ product.price }}</p>
        <p class="product-stock">Stock: {{ product.stock }} unidades</p>
        <p class="product-brand">Marca: {{ product.brand }}</p>
        <p class="product-size">Talla: {{ product.size }}</p>
      </div>
      <button class="add-to-cart">Agregar al Carrito</button>
    </div>
  </div> -->

  <div class="product-list">
    <div class="product-card">
      <img src="LogoNextGEN.png" class="product-image">
      <div class="product-info">
        <h2 class="product-name">camisa</h2>
        <p class="product-reference">Referencia: 123456</p>
        <p class="product-price">$ 5023</p>
        <p class="product-stock">Stock: 50 unidades</p>
        <p class="product-brand">Marca: gef</p>
        <p class="product-size">Talla: s</p>
      </div>
      <button class="add-to-cart">Agregar al Carrito</button>
    </div>
  </div>