<div class="search-section mb-4">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Search">
      <button class="btn btn-outline-success btn-lg" type="submit">Buscar</button>
    </form>
  </div>
  
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img [src]="images[0]" alt="Random first slide" class="img-fluid" />
      </div>
      <div class="carousel-caption">
        <h3>Primera oferta especial</h3>
        <p>Compra ahora y obtén un descuento exclusivo en tu primera compra.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img [src]="images[1]" alt="Random second slide" class="img-fluid" />
      </div>
      <div class="carousel-caption">
        <h3>Segunda oferta</h3>
        <p>Explora nuestra nueva colección de verano.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper d-flex justify-content-center">
        <img [src]="images[2]" alt="Random third slide" class="img-fluid" />
      </div>
      <div class="carousel-caption">
        <h3>Tercera oferta</h3>
        <p>¡No te pierdas las mejores rebajas del año!</p>
      </div>
    </ng-template>
  </ngb-carousel>
  