.picsum-img-wrapper img {
    width: 100%;
    /* Ajusta la imagen al ancho del contenedor */
    height: auto;
    /* Mantén la proporción de la imagen */
    object-fit: cover;
    /* Asegura que la imagen se recorte adecuadamente */
}

ngb-carousel {
    height: 80vh;
    /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    /* Evita que el contenido desborde */
}

.carousel-caption h3 {
    font-size: 2rem;
    /* Aumenta el tamaño de la fuente */
    font-weight: bold;
    color: #ff5733;
    /* Color llamativo */
}

.carousel-caption p {
    font-size: 1.2rem;
    /* Aumenta el tamaño del texto */
    color: #fafafa;
    /* Color de texto más oscuro */
    font-style: italic;
}

.search-section form {
    max-width: 600px;
    margin: 0 auto;
}

.search-section input {
    border-radius: 20px;
    /* Bordes redondeados */
}

.search-section button {
    border-radius: 20px;
    /* Bordes redondeados */
}